# Ignore Python cache files
assets/pages/__pycache__
assets/backend/security/hashing/__pycache__
assets/backend/security/encryption/__pycache__
assets/backend/auth/__pycache__
assets/backend/config/__pycache__
assets/pages/main/__pycache__
assets/backend/controller/__pycache__

# Ignore Python bytecode files
.vscode/settings.json
assets/backend/security/encryption/keys/private_key.pem
